:root {
  --themeTextColor: rgb(255, 255, 255);
  --themeSecondaryTextColor: #cccccc80;
  --themeBG: #263238;
  --themeDarker: #1e2f38;
  --themeAccentColor: #abbaab;
}

body {
  background-color: var(--themeBG) !important;
}
